<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs')%>
    <title>LOGIN</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <% if (info) { %>
        <div class="alert alert-primary" role="alert">
                <%= info %>
              </div>
    <%} %>
    <% if (err) { %>
      <%  err.forEach(error =>{ %>
            <div class="alert alert-danger" role="alert">
                    <%= error.message %>
                  </div>
      <%  }) %>
    <% } %>
    <br>
    <br>
    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                    name="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>