<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <br>
    <br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name:</th>
                    <th scope="col">Curency</th>
                    <th scope="col">Amount</th>
                    <th scope="col">qtyPrice</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                <%requests.forEach((element, i) => { %>
                 <tr>
                    <th scope="row"><%= i +1 %></th>
                    <td>
                        <%=element.User.getFullName()%>
                    </td>
                    <td>
                       <%= element.Currency.name %>
                    </td>
                    <td>
                        <%=element.qtyPrice%>
                    </td>
                    <td>
                        <%=element.amount%>
                    </td>
                   <% if (element.status === "unapprove") { %>
                        <td> <a href="/user/request/<%= element.id %>" class="btn btn-primary">Approve</a></td>
                   <% } else if (element.status === "approved"){ %>
                        <td>approved</td>
                  <%  } %>
                </tr>
                    <%})%>
            </tbody>
        </table>
    </div>



    <%- include('./partials/footer.ejs') %>
</body>
</html>