<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/header.ejs')%>
    <title>Document</title>

</head>

<body>
    <%-include('../partials/navbar.ejs')%>
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Available Currencies</h1>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Buy Price</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Buy</th>
                </tr>
            </thead>
            <tbody>
                <%data.forEach((element, i) => { %>
                 <tr>
                    <th scope="row"><%= i +1 %></th>
                    <td>
                        <a href="/currency/<%=i+1%>"><%=element.name%></a>
                    </td>
                    <td>
                        <%=moneyConvert(element.buyPrice)%>
                    </td>
                    <td>
                        <%=moneyConvert(element.sellPrice)%>
                    </td>
                    <td>
                        <%=new Date(element.updatedAt).toDateString()%>
                    </td>

                    <td> <a href="/user/buy/<%= element.id %>" class="btn btn-primary">Buy</a></td>
                </tr>
                    <%})%>
            </tbody>
        </table>
    </div>

    <style>
    
    .continaer {
            background:cornflowerblue
        }</style>
    <%- include('../partials/footer.ejs') %>
</body>

</html>