<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <%-include('../partials/header.ejs')%>
    <title>History</title>
</head>

<body>
    <%-include('../partials/navbar.ejs')%>
    <br>
    <br>
    <div class="container">
        <h3>
            <%=data[0].name%>
        </h3>
        <div class="d-flex justify-content-center">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1">Chart View</a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
                    aria-expanded="false" aria-controls="multiCollapseExample2">Table View</button>

            </p>
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">

                    <div class="chart-container container" style="position: relative; height:20vh; width:40vw">
                        <canvas id="myChart"></canvas>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let i = 0; i< data.length; i++) {%>
                                <tr>
                                    <th scope="row"><%=data[i].id%></th>
                                    <td><%=data[i].buyPrice%></td>
                                    <td><%=data[i].sellPrice%></td>
                                    <td><%=data[i].updatedAt%></td>
                                </tr>
                                <%}%>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        if (<%= x %> != undefined) {
            var ctx = document.getElementById("myChart").getContext('2d');
            var list = <%- JSON.stringify(x) %>
                console.log(typeof list);

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: <%-JSON.stringify(y) %>,
                    datasets: [{
                        label: 'Price overtime',
                        data: list,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });
        }
    </script>
    <%- include('../partials/footer.ejs') %>
</body>

</html>