<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title>Profile</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
<h2>name: <%= user.getFullName() %></h2>
<h2>gender: <%= user.gender %></h2> 
<h2>email: <%= user.email %></h2>


<br>
<br>
<a href="user/delete">Delete account</a>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>